{% extends "base/base.html" %}
{% autoescape on %}
{% load staticfiles %}
{% block content %}
<br /><br />
<div id="maincontent">

<div id="aboutwrapper">
<p>
Earthworkx, LLC is an online platform that connects the people of the construction industry, as well as homeowners,
with the resources and materials their projects demand, Our platform uses data to facilitate transactions and enable
connectivity. This allows for peer-to-peer transactions to locate and procure fill and aggregate material, and other
construction materials, arrange transportation and hauling logistics, locate dump sites, locate and rent laydown
yards and sites for material and equipment storage, and provide a peer-to-peer equipment rental platform, all within
a local, user-defined geographical area.
</p>

<p>Our platform relies on user input data to increase the value of the network of resources available locally to you
within your selected search area. In a culture of sustainable infrastructure and cost consciousness, this platform
will save users time and money in locating resources, increase efficiency, and reduce additional costs associated
with hauling and landfilling fill material.
</p>

</div>

</div>

{% endblock %}




{% endautoescape %}