<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/base/base.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type='text/javascript' src="/static/js/base/base.js"></script>
    <meta charset="UTF-8">

    <title>riplist</title>
</head>
<body>

<div id="header">

    <div id="headercontent">
     <span id="branding">
        riplist
    </span>

    <span id="accinfo">
        <a href = "/login/logout">logout</a>
    </span>
    </div>
</div>

{% block content %}

{% endblock %}

</body>
</html>