{#{% extends "base/base.html" %}#}

{% block content %}
{% load staticfiles %}
{% load i18n static %}


<link rel="stylesheet" type="text/css" href="/static/css/login/login.css" media="screen  and (min-width: 40.5em)" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
<script type="text/javascript" src='{% static "lib/bootstrap/js/bootstrap.min.js" %}'></script>

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<meta name="HandheldFriendly" content="true">

<link rel="stylesheet" type="text/css" href="/static/css/login/mlogin.css" media="screen, handheld" />
<link rel="stylesheet" type="text/css" href="/static/css/login/login.css" media="screen  and (min-width: 40.5em)" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type='text/javascript' src="/static/js/base/base.js"></script>

<div id="wrapper">

<div id="logo_holder">
<a href="/"><img src='/static/images/Logo.jpg' width="255" height="75" id="logo"/></a>
</div>

{% if validlink %}


<div id="resetpassbox">


    <div id="loginheader">

    Reset Password

    </div>


        <div id="logincont" style="padding: 20px;">


        <form method="post" id="changepassform">{% csrf_token %}


       <input style="width:100%;" id="id_new_password1" name="new_password1" placeholder="new password" type="password" required> <br /><br />

        <input style="width:100%;" id="id_new_password2" name="new_password2" placeholder="repeat password" type="password"  required>


       <div class="btncont">

        <br /><br />


        <center><a  class='loginbtn' href="#" value="{% trans 'Change my password' %}" onclick="$('#changepassform').submit();"> Change my password </a></center>

        </div>





</form>

    </div>


</div>



{% else %}

<center><font color='red'>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</font>

<br /><br />

    <a href="/login/recover">Back</a>

</center>





{% endif %}

    <br /><br /><br /><br />

</div>

<div id="footer">

    Copyright © 2016-2017, EarthWorkx, LLC.

</div>

{% endblock %}