{#{% extends "base/base.html" %}#}
{% autoescape on %}
{% block content %}
{% load staticfiles %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
<script type="text/javascript" src='{% static "lib/bootstrap/js/bootstrap.min.js" %}'></script>

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<meta name="HandheldFriendly" content="true">

<link rel="stylesheet" type="text/css" href="/static/css/login/mlogin.css" media="screen, handheld" />
<link rel="stylesheet" type="text/css" href="/static/css/login/login.css" media="screen  and (min-width: 40.5em)" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type='text/javascript' src="/static/js/base/base.js"></script>

<div id="wrapper">

<div id="logo_holder">
<a href="/"><img src='/static/images/Logo.jpg' width="255" height="75" id="logo"/></a>
</div>

<div id="recoverbox">


    <div id="loginheader">

    Recover Account

    </div>


        <div id="logincont" style="padding: 20px;">
         <form id="recoverForm" name="recoverForm" action="{% url 'recover' %}" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}

          <div class="inputcont">


            <span class="glyphicon glyphicon-envelope"></span><input type="text" id="email" name="email" placeholder="email" required>
            <span class="highlight"></span>
            <span class="bar"></span>

        </div>

        {% if success %}
        <span id="pass_reset">Please check your email.</span>
        {% endif %}

        <div class="btncont">

            <br /><br />

            <center>
            <a name='submitform' class='loginbtn' href="#" onclick="$('#recoverForm').submit();"> send link </a>
            </center>

            <br />

            <span id ="registerlink"><a href="/login/register">register</a></span>
            <span id ="forgotlink"><a href="/login">login</a></span>

         </div>


     </form>
    </div>
</div>

    <br /> <br /> <br /> <br />

</div>

<div id="footer">

    Copyright © 2016-2017, EarthWorkx, LLC.

</div>


{% endblock %}
{% endautoescape %}