{#{% extends "base/base.html" %}#}
{% autoescape on %}
{% block content %}
{% load staticfiles %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
<script type="text/javascript" src='{% static "lib/bootstrap/js/bootstrap.min.js" %}'></script>

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<meta name="HandheldFriendly" content="true">

<link rel="stylesheet" type="text/css" href="/static/css/login/mlogin.css" media="screen, handheld" />
<link rel="stylesheet" type="text/css" href="/static/css/login/login.css" media="screen  and (min-width: 40.5em)" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type='text/javascript' src="/static/js/base/base.js"></script>

<div id="wrapper">

<div id="logo_holder">
<a href="/"><img src='/static/images/Logo.jpg' width="255" height="75" id="logo"/></a>
    </div>

<div id="registerbox">


    <div id="loginheader">

    Register

    </div>


        <div id="logincont" style="padding: 20px;">
         <form id="registerForm" name="registerForm" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}

          <div class="inputcont">


            <span class="glyphicon glyphicon-user"></span><input type="text" id="username" name="username" placeholder="username" required>

            <span class="highlight"></span>
        <span class="bar"></span>
          <br /><br />
        <input type="text" name="firstname" id="firstname" placeholder="first name"  required>
        <input type="text" name="lastname" id="lastname" placeholder="last name"  required>


            <br />
            {% if error %}
                <span id="error_prompt">Username or email already exists!</span>
            {% endif %}

            <br />

            <span class="glyphicon glyphicon-map-marker"></span><input type="text" name="address" id="address" placeholder="street address" required><br /><br />
            <input type="text" name="zipcode" id="zipcode" placeholder="zip code" maxlength="5" required>
            <input type="text" name="state" id="state" placeholder="state" maxlength="2" required><br /><br />
            <span class="glyphicon glyphicon-lock"></span><input type="password" name="password" id="password" placeholder="password" required><br /><br />
            <span class="glyphicon glyphicon-envelope"></span><input type="email" name="email" id="email" placeholder="email" required><br /><br />


            <span class="glyphicon glyphicon-phone"></span><input type="text" name="phone1" id="phone1"   maxlength="3" required> -
              <input type="text" name="phone2" id="phone2" maxlength="3" required> -
              <input type="text" name="phone3" id="phone3" maxlength="4" required><br /><br />

            <span class="glyphicon glyphicon-briefcase"></span><input type="text" name="business_name" id="business_name" placeholder="business name" required><br /><br />


        </div>

        <div class="btncont">

            <br />

            <center>
            <a name='submitform' class='loginbtn' href="#" onclick="$('#registerForm').submit();"> register </a>
            </center>

            <br />

            <span id ="registerlink"><a href="/login">login</a></span>
            <span id ="forgotlink"><a href="/login/recover">recover</a></span>

         </div>


     </form>
    </div>
</div>

    <br /><br /><br /><br />

</div>

<div id="footer">

    Copyright © 2016-2017, EarthWorkx, LLC.

</div>


{% endblock %}
{% endautoescape %}