{#{% extends "base/base.html" %}#}
{% autoescape on %}
{% load staticfiles %}


<link rel="stylesheet" type="text/css" href="/static/css/base/mbase.css" media="screen, handheld" />
<link rel="stylesheet" type="text/css" href="/static/css/base/base.css" media="screen  and (min-width: 40.5em)" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src='/static/lib/bootstrap/js/bootstrap.min.js'></script>
<script type="text/javascript" src='/static/js/base/init.js'></script>
<script type="text/javascript" src='/static/js/base/map.js'></script>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAilDy0SeP5Ex17VlL5-1v1G-Ej5SGB3s4&callback=initMap" async defer>

</script>

<div id="container">

<div id="header">

<div id="headercontent">

    <div id="session">
    {% if user.is_authenticated %}
        <span class="glyphicon glyphicon-user"></span> Welcome, {{ user }}.
        <span class="account">
        <span class="glyphicon glyphicon-log-out"></span>
        <a href="/login/logout">Logout</a>

        </span>
    {% else %}

        <span class="glyphicon glyphicon-user"></span> Welcome, guest!
        <span class="account">
        <a href="/login">Login</a> or
        <a href="/login/register"> Register</a>
        </span>

    {% endif %}

    </div>

    <div id="logo_wrapper">
        <a href="/"><img src='/static/images/Logo.jpg' width="375" height="90" id="logo"/></a>
    </div>

    <div id="navbar">
        <ul>
        <li><a href="news.asp">Laydown Sites</a></li>
        <li><a href="contact.asp">Equipment</a></li>
        <li><a href="default.asp">Fill and Aggregate Materials</a></li>
        <li><a href="about.asp">Consulting</a></li>
        <li><a href="about.asp">About Us</a></li>
        </ul>
    </div>

    <div class="holder" id="menudropdown">

        <div id="home-dropdown" class="dropdown-content">
            <a href="#" id="user-link">Hi, {{ user.username }}</a>
            <a href="/login/logout/">Logout</a>
        </div>

    </div>

</div>

</div>

{% block content %}




    <div id="maincontent">

    <br />

    <div id="search_bar">
    <input id="main_search" type="text" placeholder="Find fill and resources near me"/>
        <button type="button" class="btn btn-default" id="search_button">
            <span class="glyphicon glyphicon-search"></span>
        </button>

        </div>

    <br /><br />

    <ul id="filters">
    <li class="filter_item" ><input type="checkbox" id="mat"/> Materials</li>
    <li class="filter_item"><input type="checkbox" id="ly"/> Laydown Yards</li>
    <li class="filter_item"><input type="checkbox" id="eq"/> Equipment</li>
    <li class="filter_item"><input type="checkbox" id="dist"/> Distance</li>
    </ul>





    <div id="maincontentitem">

    <div id="mapholder">

    <div id="map"></div>

    </div>

    </div>

    </div>




{% endblock %}

</div>

<div id="footer">

Copyright © 2016-2017, EarthWorkx, LLC. All Rights Reserved. <a href="">User Agreement</a> and <a href="">Privacy</a>

</div>

{% endautoescape %}