{% extends "base/base.html" %}
{% autoescape on %}
{% load staticfiles %}


{% block content %}


<script type="text/javascript" src='/static/js/base/map.js'></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAilDy0SeP5Ex17VlL5-1v1G-Ej5SGB3s4&callback=initMap" async defer></script>

<div id="maincontent">

<br />
<div id="search_header">
<div id="search_bar">
<input id="main_search" type="text" placeholder="Find fill and resources near me"/>
<button type="button" class="btn btn-default" id="search_button">
    <span class="glyphicon glyphicon-search"></span>
</button>

</div>

<br /><br />


<ul id="filters">
<li class="filter_item" ><input type="radio" id="mat" name="filter_radio" checked/> Materials</li>
<li class="filter_item"><input type="radio" id="ly" name="filter_radio"/> Laydown Yards</li>
<li class="filter_item"><input type="radio" id="eq" name="filter_radio"/> Equipment</li>
<li class="filter_item"> Within </li>

<select name="distance_dropdown" id="distance_dropdown">
    <option value="10">10</option>
    <option value="25">25</option>
    <option value="50" selected>50</option>
    <option value="100">100</option>
    <option value="150">150</option>
    <option value="200">200</option>
    <option value="250">250</option>
    <option value="300">300</option>
    <option value="Any">Any</option>
</select>

    Miles

</ul>


</div>





<div id="mapholder">

{% if not user.is_authenticated %}

    <div id="guest_warning">

        <span id="close" onclick="$(this).parent().hide();"><span class="glyphicon glyphicon-remove"></span></span>

        Hi there! <a href="/login/register"><b>Register</b></a> to have the map below automatically update with listings near you when you arrive, without a search!

    </div>
<br />
{% endif %}

<div id="map"></div>

</div>
{% if not user.is_authenticated %}
    <br /><br/><br /><br/>
{% else %}
    <br />
{% endif %}


<div id="results_container">



</div>
</div>




{% endblock %}


{% endautoescape %}