body
{
	margin:auto;
    background-color: #f1f1f1;
	background: #ffffff;
	font-family: Arial;
}
#logo_holder{
text-align:center;
width:100%;
margin-left: -5px;
}
#loginheader{
	height:30px;
	background: #ffffff;

	color:black;
	text-align:left;
	font-size: 18pt;
	padding:20px;

}
#footer{
    background-color: #f1f1f1;
	font-size:8pt;
	text-align: center;
	width: 100%;
	height: 2000px;
	margin-top: 80px;
	border-top: 1px solid #c0c0c0;
    padding-top: 20px;

}
#loginbox{

    background: #ffffff;
	margin:auto;
	width: 320px;
	/*padding: 10px;*/
	border-radius: 1px;
	box-shadow: 0px 0px 7px #bababa;

	height: 290px;
	font-size: 12pt;


}
#logo{
margin:20px;
}

#error_prompt{
font-size:10pt;
text-align:center;
color:red;
margin-left:50px;


}

#loginbox input
{
	height:30px;
	width: 85%;
	font-size: 18;
	border: 0;
    outline: 0;
    /*background: transparent;*/
    border-bottom: 1px solid #d0d0d0;
    padding-top:10px;
	margin-left: 15px;

}

.loginbtn {

	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2px;
	font-family: Arial;
	color: #ffffff;
	font-size: 13px;
	background: #545454;
	padding: 10px 20px 10px 20px;
	text-decoration: none;

}
.glyphicon.glyphicon-globe {
    font-size: 80px;
	opacity: .3;
}
.loginbtn:hover {
	background: #7a797a;
	text-decoration: none;
}


#username, #password
{
	/*border: 1px solid #545454;*/
	height:30px;
	padding:4px;
	font-size: 12pt;
	width: 240px;
}

.inputcont{
	padding: 3px;
}
.btncont{

	margin-top:12px;

}