body
{
	margin: 0px;
    background-color: #fafafa;
}


#loginheader{

	/*border: 1px solid black;*/
	height: 25px;
	background: #284942;
	line-height: 25px;
	color: white;
	text-align: center;
	border-radius: 1px 1px 0px 0px;
	font-size: 28pt;
	/*box-shadow: 0px -1px 2px #BBBBBB;*/
	padding:15px;
	/*color: #d7d7d7;*/

}

#loginbox{


	margin:auto;
	width: 320px;
	/*padding: 10px;*/
	border-radius: 1px;
	box-shadow: 0px 0px 2em #d7d7d7;

	height: 365px;
	color: #545454;
    margin-top:200px;
	font-size: 12pt;
	background: linear-gradient(#FFFFFF, #FFFFFF);

}
#loginbox input
{
	height:30px;
	width: 85%;
	font-size: 18;
	border: 0;
    outline: 0;
    /*background: transparent;*/
    border-bottom: 1px solid #d0d0d0;
    padding-top:10px;
	margin-left: 15px;

}

.loginbtn {

	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2px;
	font-family: Arial;
	color: #ffffff;
	font-size: 13px;
	background: #545454;
	padding: 10px 20px 10px 20px;
	text-decoration: none;

}
.glyphicon.glyphicon-globe {
    font-size: 80px;
	opacity: .3;
}
.loginbtn:hover {
	background: #7a797a;
	text-decoration: none;
}


#username, #password
{
	/*border: 1px solid #545454;*/
	height:30px;
	padding:4px;
	font-size: 12pt;
	width: 240px;
}

.inputcont{
	padding: 3px;
}
.btncont{

	margin-top:12px;

}