body
{
	margin: 0px;
    background-color: #F0F0F0;
}


#loginheader{

	/*border: 1px solid black;*/

	height: 1.5em;
	line-height: 1.5em;
	background: #337147;
	padding: 2px;
	color: white;
	text-align: center;
	/*border-radius: 1px;*/
	font-size: 20pt;
	/*font-family: "Bangla MN";*/
	font-family: "Arial";
	/*box-shadow: 0px -1px 2px #BBBBBB;*/
	margin:auto;
	font-face: bold;

}
#loginbox{

	/*font-family: "Bangla MN";*/
	font-family:"Arial";
	margin:auto;
	/*width: 300px;*/
	/*padding: 10px;*/
	background-color: white;
	border-radius: 1px;
	box-shadow: 0px 0px 2px #BBBBBB;
	height: 16em;
	color: #545454;
    /*margin-top:200px;*/
	font-size: 12pt;


}

#loginbox input
{
	height:30px;
	width: 100%;
	font-size: 18;
	border: 0;
    outline: 0;
    /*background: transparent;*/
    border-bottom: 1px solid #d0d0d0;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.loginbtn {

	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2px;
	font-family: Arial;
	color: #ffffff;
	font-size: 13px;
	background: #545454;
	padding: 10px 20px 10px 20px;
	text-decoration: none;

}

.loginbtn:hover {
	background: #7a797a;
	text-decoration: none;
}


#username, #password
{
	/*border: 1px solid #545454;*/
	height:30px;
	padding:4px;
	font-size: 12pt;
	width: 240px;
}

.inputcont{
	padding: 3px;
}
.btncont{

	margin-top:25px;

}