body
{
	margin: 0px;
    background-color: #F0F0F0;
}
#leftsidebar{
	float:left;
	width: 300px;


}
#rightsidebar{
	float:right;
	width: 300px;



}

.sidebaritem{
	border-radius: 1px;
	box-shadow: 0px 0px 2px #BBBBBB;
	background-color: #ffffff;
	padding: 10px;
	height: 100px;

}
#container{
	margin: auto;
	width:940px;
	/*border: 1px solid red;*/
}
.block{
	border-radius: 1px;
	box-shadow: 0px 0px 2px #BBBBBB;
	background-color: #ffffff;
	padding: 10px;
	float: left;
	width: 300px;
	margin-left: 10px;
	height: 100px;
	/*margin-top: 5px;*/
}

#directripval{

	height:20px;
	width: 169px;
}

a{
	color: white;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#header{
	height: 55px;
	background: #337147;
}
#headercontent
{
	max-width: 1100px;
	margin:auto;
}

#accinfo{
	float:right;
	height: 50px;
	line-height: 55px;
	color: #ffffff;
	margin-right:50px;
}

#branding{
	height:50px;
	line-height: 73px;
	color: #ffffff;
	margin-left: 50px;
	font-size: 25pt;
	font-family: "Bangla MN";
}


.ripbtn {


	border-radius: 2px;
	font-family: Arial;
	color: #ffffff;
	font-size: 18px;
	background: #545454;
	padding:6px 11px 9px 11px;
	text-decoration: none;
}

.ripbtn:hover {
	background: #7a797a;
	text-decoration: none;
}



