body
{
	margin:auto;
    background-color: #F0F0F0;
}
#leftsidebar{
	float:left;
	width:250px;

}
#rightsidebar{
	float:right;
	width: 270px;


}
#maincontentitem{
	background: #FFFFFF;
	box-shadow: 0px 0px 2px #bababa;
	/*margin-top:10px;*/

	padding: 10px;
	border-radius:2px;
}

#headercontent input
{
	height:30px;
	width: 20%;
	font-size: 18;
	border: 0;
    outline: 0;
    /*background: transparent;*/
    /*border-bottom: 1px solid #d0d0d0;*/
    /*padding-top:10px;*/
	margin-left: 3px;
	border-radius:2px;
	padding:5px;


}
 .ui-autocomplete {
    max-height: 104px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
#map{
height: 100%;

}
#title{
	color:white;
	width: 10%px;
	margin: 0 auto;
	text-align: center;
	font-size:20;
	float:right;
}
#buytag, #selltag{
	font-size:60pt;
	opacity: .4;
	margin-left:41%;
}
#buy-form input{
	height:30px;
	font-size: 18;
	border: 0;
    outline: 0;
	width: 92%;
    /*background: transparent;*/
    border-bottom: 1px solid #d0d0d0;
    padding:3px;
	margin-left: 15px;
	text-align: center;

}
#mapholder{
	/*margin:auto;*/
	height:200px;
	width: 250px;
	/*border:1px solid black;*/
	/*margin-top:15px;*/
	/*box-shadow: 0px 0px 10px #bababa;*/

}

#sidebaritem{


	background: #FFFFFF;
	box-shadow: 0px 0px 2px #bababa;
	/*margin-top:10px;*/
	position:absolute;
	padding:5px;
	float:left;
	border-radius:2px;

}
#avatar_small{
	width:64px;
	height:64px;
	/*border: 1px solid black;*/
	float:left;
	background: #A3CCFF;
}
.glyphicon.glyphicon-star, .glyphicon.glyphicon-star-empty {
	font-size:10pt;
}
#avatar_content{
	float:left;
	/*border:1px solid black;*/
	width:90px;
	margin-left: 4px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: hidden;
    overflow-y: hidden;
    /*opacity:.5;*/

	-webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
#avatar_stat{

	float:right;
	/*border:1px solid black;*/
	margin-left:3px;
	width:85px;

}

#rightsidebaritem{

	background: #FFFFFF;
	box-shadow: 0px 0px 2px #bababa;
	/*margin-top:10px;*/

	padding: 5px;
	border-radius:2px;

}
#maincontent{

	margin: 0 auto;
	width:530px;
	margin-top:12px;
	/*border:1px solid black;*/


	/*float:left;*/
}
.holder{
    font-size: 20;
	color:white;
	float:right;
	height: 50px;
	width:60px;
	text-align: center;
	cursor:pointer;
}
.holder:hover{
	background-color: #162824;
}

#menudropdown{
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
	position:absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 2px 1px 0px #cfcfcf;
	margin-top:18px;
	/*margin-right:500px;*/
	font-size: 14;
    right:0;
	z-index:1;

    /*margin-left:-100px;*/

}

/* Links inside the dropdown */
.dropdown-content a {
   color: black;
    text-decoration: none;
    display: block;


}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.glyphicon.glyphicon-shopping-cart, .glyphicon.glyphicon-tag ,.glyphicon.glyphicon-menu-hamburger {

	margin-top: 13px;

}
.glyphicon.glyphicon-search {
    font-size: 20px;
	margin-top:12px;
	color:white;

	/*opacity: .3;*/
}


#sidebaritem{
	border-radius: 1px;
	box-shadow: 0px 0px 2px #BBBBBB;
	background-color: #ffffff;
	padding: 10px;
	height: 100px;
	/*margin-top:10px;*/

}
#container{
	margin: auto;
	width:1100px;
	/*border: 1px solid red;*/
}
.block{
	border-radius: 1px;
	box-shadow: 0px 0px 2px #BBBBBB;
	background-color: #ffffff;
	padding: 10px;
	float: left;
	width: 300px;
	margin-left: 10px;
	height: 100px;
	/*margin-top: 5px;*/
}

#directripval{

	height:20px;
	width: 169px;
}

a{
	color: white;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#header{
	height: 50px;
	background: #284942;
	line-height:50px;
	box-shadow: 0px 1px 1px #8e8e8e;

}
#headercontent
{
	max-width: 1100px;
	margin:auto;
}

#accinfo{
	float:right;
	height: 50px;
	line-height: 55px;
	color: #ffffff;
	margin-right:50px;
}

#branding{
	height:50px;
	line-height: 73px;
	color: #ffffff;
	margin-left: 50px;
	font-size: 25pt;
	/*font-family: "Bangla MN";*/
}


.ripbtn {


	border-radius: 2px;
	font-family: Arial;
	color: #ffffff;
	font-size: 18px;
	background: #545454;
	padding:6px 11px 9px 11px;
	text-decoration: none;
}

.ripbtn:hover {
	background: #7a797a;
	text-decoration: none;
}





