html, body
{

    margin: 0;

	font-family: Arial;

}
#wrapper{
width:100%;
background: #ffffff;

}
#listing_map{
float:right;
}


#image_preview{
	margin-right: 90px;
	margin-top: 10px;
	margin-left: 10px;
	width: 325px;
	background-color: #f1f1f1;padding: 20px;
	float:left;
	text-align: center;
}
#footer{
    background-color: #f1f1f1;
	font-size:8pt;
	text-align: center;
	width: 100%;
	border-top: 1px solid #c0c0c0;
    padding-top: 20px;
    clear: both;
    height: 150px;
    bottom: 0;

}
#container{
	margin: auto;
	/*height: 100%;*/
	width:1500px;
	background: #ffffff;
	/* box-shadow: 0px 0px 10px #bababa; */
	min-height: 100%;
	}
#leftsidebar{
	float:left;
	width:250px;

}
#close{
position:absolute;
top: 4px;
right:0;
padding:5px;
cursor:pointer;
}
#guest_warning{
    position:relative;
    text-align:center;
    padding:8px;
    border-radius:1px;
    background-color:#F0F8FF;

}



#map{
height: 100%;

}

#mapholder{

	width: 900px;
	height:350px;
    /*background-image: url("/static/images/map_default.png"); */
	margin-top:15px;
	margin-left:300px;
	/*box-shadow: 0px 0px 10px #bababa;*/
}
#search_header{

	width:555px;
	margin-left: 500px;
	margin-top: 15px;

}
#distance_dropdown{
height: 25px;

}
#main_search{
	width: 480px;
	height: 15px;
	font-size: 16px;
	padding: 10px;
	border: 1px solid #DFDFDF;
	border-right:none;
	/*box-shadow: 0px 0px 5px #bababa;*/
	float:left;
	border-radius: 3px 0px 0px 3px;


}
#search_button{
	float:left;
	height:37px;
	/*box-shadow: 0px 0px 8px #bababa;*/
	/*box-shadow: -2px 1px 8px #e6e6e6;*/
	border-radius: 0px 3px 3px 0px;



}
#search_button:focus {
  outline: none;
}
#main_search:focus{
	outline:none;
}



.glyphicon.glyphicon-alert {
	font-size:18pt;
	opacity: .5;
}




#maincontent{
	width:1300px;
	margin-top:12px;

}
.holder{
    font-size: 20pt;
	color:white;
	float:right;
	height: 50px;
	width:60px;
	text-align: center;
	cursor:pointer;
}
.holder:hover{
	background-color: #162824;
}

#menudropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
	position:absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 2px 1px 0px #cfcfcf;
	margin-top:18px;
	font-size: 14pt;
    right:0;
	z-index:1;

}

.dropdown-content a {
   color: black;
    text-decoration: none;
    display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}


.show {display:block;}


.glyphicon.glyphicon-shopping-cart,
.glyphicon.glyphicon-tag ,
.glyphicon.glyphicon-menu-hamburger {

	margin-top: 13px;

}
.glyphicon.glyphicon-search {
    font-size: 20px;
	color:black;

	opacity: .45;
}


.account{
margin-right: 15px;
margin-left: 10px;
}
#session{
float:right;
margin-right: 15px;
}
#session a{
text-decoration:underline;
}





a{
	color: black;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
	color:#4D71A3;
}

a:active {
    text-decoration: none;
}

#header{
	height: 140px;
	/*background: #284942;*/
	background: #ffffff;
	line-height:50px;
	/*box-shadow: 0px 1px 1px #8e8e8e;*/

}
#headercontent
{
	max-width: 1300px;
	margin:auto;
}
#logo{
	margin-top: 10px;
	margin-left: 18px;
}
#logo_wrapper{

	/*border: 1px solid black;*/
	width: 375px;
}

ul {
    list-style-type: none;
	text-align: center;
	/*border:1px solid black;*/
	margin: 0;

}
li{
	display:inline;
	font-size: 18px;
	color: black;
	margin: 40px;
}
#filters{
	/*border: 1px solid black;*/
	text-align: left;
    padding-left: 15px;
	margin-top: 10px;

}
.filter_item{
	margin:6px;
	font-size: 11pt;
}
#listing_dropdown{
padding: 10px;
font-size:13pt;
width: 100%;
text-align:center;
}
#listing_wrapper{
margin-left: 300px;
width: 485px;
background-color: #f1f1f1;padding: 20px;
float:left;

}
.image-slider{
	width: 375px;
}
.image-slider img{
	height: calc(50vh - 100px);
	margin: 0 auto; /* it centers any block level element */
	max-height: 400px;
	min-width:375px;
}
#browse_wrapper{

	margin-left: 425px;

}
#item_description{
	width:450px;
	float:left;
	border-bottom:1px solid rgba(192, 192, 192, .4);
	margin-left: 15px;
	padding: 5px;
	font-size: 14pt;
}
#item_price{
	width:280px;
	float:left;
	margin-left: 15px;
	padding: 5px;
	font-size: 18pt;
	margin-top:10px;
	color:#b20000;

}
#price_wrapper{
	width:95%;
	text-align: right;
	margin-top:10px;
}
#seller_wrapper{
	border:1px solid rgba(192, 192, 192, .5);
	padding:10px;
	float:right;
	width:300px;
	height: 193px;
}
#purchase_btn{
	width:250px;
	margin-top:5px;
	color:#533407;
}
#seller_info_wrapper{
	font-size:12pt;
	padding:12px;
	/*border:1px solid rgba(192, 192, 192, .4);*/
	width:298px;
	margin-left:-31px;
	margin-top:34px;
	background-color:rgba(192, 192, 192, .2);

}
.page_number{
	cursor:pointer;
}
#previous_page, #next_page{
	cursor:pointer;
}
#item_comments{
	width:450px;
	border-top:1px solid rgba(192, 192, 192, .4);
	margin-top: 15px;
	padding: 20px 5px 20px 5px;
	font-size: 12pt;

}

#aboutwrapper{

	border-top:1px solid rgba(192, 192, 192, .4);
	border-bottom:1px solid rgba(192, 192, 192, .4);
	padding: 25px;
	width:900px;
	margin-left: 250px;

}
#pages{
	width: 900px;
	text-align: center;
	background-color: #fafafa;

}

#item_address{
	width:450px;
	float:left;
	margin-left: 15px;
	padding: 5px;
	font-size: 13pt;
	margin-top:10px;
}

#item_specs{
	width:450px;
	float:left;
	margin-left: 15px;
	padding: 5px;
	font-size: 12pt;
	margin-top:10px;
}
#specs_table{
	border-collapse:collapse;
	width: 100%;
}
#specs_table tr:nth-child(even) {background: #FFF}
#specs_table tr:nth-child(odd) {background: #eaeaea}
#specs_table td{
	padding:12px 8px 12px 8px;
}
#carousel_wrapper{

	width: 375px;
	height: 400px;
	/*float:left; */
	background: #ffffff;
	/*border-radius: 1px;*/
	/*box-shadow: 0px 0px 15px #bababa;*/
	/*font-size: 12pt;*/
	/*padding:15px;*/
	/*height: 265px;*/


}
#listing_map{
float:left;
width: 365px;
height: 250px;
margin-left: 10px;
}
#browse_listing_map{
float:left;

	margin-left: 110px;

}
#navbar{
	margin: 5px;
	margin-left:-30px;
	height: 100%;
}

#results_container{
    width: 900px;
    margin: 0 auto;
}

.result_item{
    height: 125px;
    background-color: #fafafa;
}
.result_item:hover{
    color:black;
}
.main_details{
float:left;
margin-left: 10px;
padding:5px;
}
.type_material{
    float:left;
    width:15px;

    position: absolute;
    background-color:#F4A460;
    height: 125px;

}
.type_laydown{
    float:left;
    width:15px;

    position: absolute;
    background-color:#A2C257;
    height: 125px;

}
#loading_results{
    width: 900px;
    text-align:center;
    font-size: 14pt;

}
.type_equipment{
    float:left;
    width:15px;

    position: absolute;
    background-color:#6996AD;
    height: 125px;

}

.details_container{
float:right;
padding:10px;
margin-left: 10px;
}

.thumbnail_item{

    /*width: 125px;*/
    /*height: 125px;*/
    margin-left: 15px;
    float:left;
}
.title_item{
font-size: 16pt;
color: blue;
}
.price{
    font-weight:bold;
}
.distance{

}
.date_available{

}
.material_details{

}


.thumb {
	height:75px;
    margin: 0.2em -0.7em 0 0;
}
.remove_img_preview {
    position:relative;
    top:-70px;
    right:-2px;
    background:red;
    color:white;
    border-radius:50px;
    font-size:0.9em;
    padding: 0 0.3em 0;
    text-align:center;
    cursor:pointer;
}
.remove_img_preview:before {
    content: "×";
}



