{% extends "base/base.html" %}
{% autoescape on %}
{% load staticfiles %}
{% block content %}

<script type="text/javascript" src='/static/js/base/map_listing.js'></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAilDy0SeP5Ex17VlL5-1v1G-Ej5SGB3s4&callback=initMap" async defer></script>

<div id="maincontent">

<br />


<br />


<div id="listing_wrapper">


    <form id="materialSellForm" name="materialSellForm" action="submit" method="post">
        {% csrf_token %}

    <input type="hidden" name="type" id="type" value="material">
    <input type="hidden" name="buysell" id="buysell" value="sell">

    <b>Where is your item located?</b>
    <select name="address_dropdown" id="address_dropdown" onchange="checkAddress()">
    <option value="none" selected>Select...</option>
    <option value="account">Same address as my account</option>
    <option value="other">Different from my account</option>
    </select>

        <br />
    <div id="optional_address" style="display:none;margin-left: 25px;"><br />

        Street Address: <input type="text" name="" > <br /><br />
        City: <input type="text" name="" maxlength="5"><br /><br />
        State: <input type="text" name="" maxlength="2" size="5"><br /><br />
        Zip: <input type="text" name="" maxlength="5" size="10"><br /><br />



    </div> <br />

    <b>Type of Material </b> <br /><br />

    <select name="type_dropdown" id="type_dropdown"  onchange="checkMaterialOther()">
    <optgroup label="Fill">
    <option value="sand">Sand</option>
        <option value="clay">Clay</option>
        <option value="other">Other</option>
    </optgroup>

    <optgroup label="Rock">
        <option value="Gravel">Gravel</option>
        <option value="Crusher Ru">Crusher Run</option>
        <option value="Recycled Asphalt Pavement (RAP">Recycled Asphalt Pavement (RAP)</option>
        <option value="Recycled Concrete">Recycled Concrete</option>
        <option value="Base Material">Base Material</option>
    </optgroup>

    <optgroup label="Other">
        <option value="Topsoil">Topsoil</option>
        <option value="Clean Fill">Clean Fill</option>
        <option value="Rough Fill">Rough Fill</option>
        <option value="River Rock">River Rock</option>
        <option value="Rip Rap">Rip Rap</option>
        <option value="Boulders">Boulders</option>
        <option value="Concrete Rebar">Broken Concrete + Rebar</option>
        <option value="Concrete No Rebar">Broken Concrete no Rebar</option>
        <option value="Snow">Snow</option>
        <option value="Mulch">Mulch</option>
        <option value="Peat">Peat</option>
        <option value="Contaminated Fill">Contaminated Fill</option>
        <option value="Contaminated Fill">Contaminated Fill</option>
        <option value="Demolition Material">Demolition Material</option>
        <option value="Wood">Wood</option>
        <option value="Brick/Block">Brick/Block</option>
        <option value="Pavers">Pavers</option>

    </optgroup>

    </select>

    <span id="other_explain_material" style="display:none;">
     <i>Please describe your material:</i> <input type="text" name="custom_material" >

    </span>

        <br /><br />

    <b>Amount of material</b><br /><br />
        <input type="text" id="material_amount" name="amount" size="5"> cubic yards

    <br /><br />

    <b>Price per cubic yard</b><br /><br />
        $ <input type="text" id="material_price" name="material_price" size="5">  (Total price: $<span id="total_price" style="color:green;font-weight:bold;">0.00</span>)

    <br /><br />

    <b>Date Available</b><br /><br />

        <input type="text" id="datepicker_available" name=datepicker_available"><br /><br />

    <b>Expiration Date</b><br /><br />

    <input type="text" id="datepicker_expiration" name=datepicker_expiration"><br /><br />

     <b>Will you provide hauling for your item?</b>
    <select name="hauling_dropdown" id="hauling_dropdown" onchange="checkHauling()">
    <option value="yes">Yes</option>
    <option value="no" selected>No</option>
    </select>

    <span id="hauling_options" style="display:none;">

        Price: $<input type="text" id="hauling_price" name="hauling_price" size="5"> within

    <select name="hauling_distance_dropdown" id="hauling_distance_dropdown" onchange="checkHauling()">
    <option value="10">10</option>
    <option value="20" selected>20</option>
    <option value="30" selected>30</option>
    <option value="any" selected>Any</option>
    </select> miles

    </span>



<br /><br />



     <b>Will you provide loading for your item?</b>
    <select name="loading_dropdown" id="loading_dropdown" onchange="checkLoading()">
    <option value="yes">Yes</option>
    <option value="no" selected>No</option>
    </select>

    <span id="loading_options" style="display:none;">

        Price: $<input type="text" id="loading_price" name="loading_price" size="5"> per cubic yard


    </span>

<br /><br />
 <b>Additional Description & Specifications</b>
        <br /><br />
<textarea rows="5" cols="60" >

</textarea>

<br /><br />

Upload images for your item: <button type="button" class="btn btn-warning" id="upload_image">Upload</button>




   </form>

    <br /><br />
    <center><button type="button" class="btn btn-primary" onclick="$('#materialSellForm').submit();">Create Listing</button></center>


</div>
<div id="listing_map"></div>






</div>
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br />


{% endblock %}




{% endautoescape %}