{#{% extends "base/base.html" %}#}
{% autoescape on %}
{% load staticfiles %}

{#combine this with another base page#}
<link rel="stylesheet" type="text/css" href="/static/css/base/mbase.css" media="screen, handheld" />
<link rel="stylesheet" type="text/css" href="/static/css/base/base.css" media="screen  and (min-width: 40.5em)" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src='/static/lib/bootstrap/js/bootstrap.min.js'></script>
<script type="text/javascript" src='/static/js/base/init.js'></script>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<div id="header">

<div id="headercontent">

<span class="glyphicon glyphicon-search" ></span>

    <input type="text" placeholder="Search your zipcode" id="searchLocation" />


{#<div id="title">earthworkx</div> #}

<div class="holder" id="menudropdown">
    <span class="glyphicon glyphicon-menu-hamburger" id="menudropdown"></span>


<div id="home-dropdown" class="dropdown-content">
    <a href="#" id="user-link">Hi, {{ user.username }}</a>
    <a href="/login/logout/">Logout</a>
</div>

</div>



<div class="holder" id="buy">
    <span class="glyphicon glyphicon-shopping-cart"></span>
</div>

<div class="holder" id="sell">
    <span class="glyphicon glyphicon-tag"></span>
</div>


</div>

</div>

{% block content %}

<div id="container">

<div id="mapholder">
<div id="map"></div>
</div>
<script>

var VAlat = 36.8508;
var VAlng = -76.2859;
function getLat(){
    return lat;
}
function getLng(){
    return lng;
}
function setLat(input){
    lat = input;
}
function setLng(input){
    lng = input;
}


function getLocation() {

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        alert("Geolocation is not supported by this browser.");
    }
}

function showPosition(position) {

    var lat = position.coords.latitude;
    var lng = position.coords.longitude;

    setLat(lat);
    setLng(lng);

    initMap();

}

function showError(error) {
    // If no location, show a mobile friendly modal asking to enable location

    switch(error.code) {
        case error.PERMISSION_DENIED:
            setLat(VAlat);
            setLng(VAlng);
            initMap();
        case error.POSITION_UNAVAILABLE:
            setLat(VAlat);
            setLng(VAlng);
            initMap();
        case error.TIMEOUT:
            setLat(VAlat);
            setLng(VAlng);
            initMap();
        case error.UNKNOWN_ERROR:
            setLat(VAlat);
            setLng(VAlng);
            initMap();
    }
}

getLocation()

var map;
function initMap() {
    var userLatLng = new google.maps.LatLng(getLat(), getLng());
    map = new google.maps.Map(document.getElementById('map'), {
        center: userLatLng,
        zoom: 10,
        disableDefaultUI: true,
    });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAilDy0SeP5Ex17VlL5-1v1G-Ej5SGB3s4&callback=initMap" async defer>

</script>
</div>

<div class="modal fade" id="alertModal" role="dialog" style='width:100%; margin-top: 30px;font-size:18;'>
<div class="modal-dialog modal-lg" style='width:700px;'>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h5 class="modal-title" name='mdhd'></h5>
        </div>

        <div class="modal-body" name='mdbd'>


        </div>
        <div class="modal-footer">
			<div name='customarea' style='display: inline-block;'></div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
    </div>
</div>
</div>



<div class="modal fade" id="buyModal" role="dialog" style='width:100%; margin-top: 30px;font-size:18;'>
<div class="modal-dialog modal-lg" style='width:500px;'>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h5 class="modal-title" name='mdhd' style="text-align: center;">Buy</h5>
        </div>

        <div class="modal-body" name='mdbd'>

        <form id="buy-form">

            <span class="glyphicon glyphicon-tag" id="buytag"></span>
            <br /><br />
            <input type="text" id="name" placeholder="Name"/>
            <br />
            <input type="text" id="address" placeholder="Address"/>
            <br />
            <input type="text" id="phone" placeholder="Phone"/>
            <br />
            <input type="text" id="email" placeholder="Email"/>
            <br />
            <input type="text" id="classification" placeholder="Classification / Soil Type"/>
            <br />
            <input type="text" id="amount" placeholder="Amount of Product"/>
            <br />
            <input type="text" id="dateneeded" placeholder="Date Needed"/>
            <br />
            <input type="text" id="haulopt" placeholder="Hauling Options"/>
            <br />

        </form>


        </div>
        <div class="modal-footer">
			<div name='customarea' style='display: inline-block;'>

                <button type="button" class="btn btn-primary">Proceed</button>

            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
    </div>
</div>
</div>


<div class="modal fade" id="sellModal" role="dialog" style='width:100%; margin-top: 30px;font-size:18;'>
<div class="modal-dialog modal-lg" style='width:500px;'>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h5 class="modal-title" name='mdhd' style="text-align: center;">Sell</h5>
        </div>

        <div class="modal-body" name='mdbd'>


        <form id="buy-form">

            <span class="glyphicon glyphicon-shopping-cart" id="selltag"></span>
            <br /><br />
            <input type="text" id="name" placeholder="Name"/>
            <br />
            <input type="text" id="address" placeholder="Address"/>
            <br />
            <input type="text" id="phone" placeholder="Phone"/>
            <br />
            <input type="text" id="email" placeholder="Email"/>
            <br />
            <input type="text" id="classification" placeholder="Classification / Soil Type"/>
            <br />
            <input type="text" id="amount" placeholder="Amount of Product"/>
            <br />
            <input type="text" id="dateavailable" placeholder="Date Available"/>
            <br />
            <input type="text" id="haulopt" placeholder="Hauling Options"/>
            <br />
            <input type="text" id="haulopt" placeholder="Photos (coming soon)"/>

        </form>


        </div>
        <div class="modal-footer">
			<div name='customarea' style='display: inline-block;'>

                <button type="button" class="btn btn-primary">Proceed</button>

            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
    </div>
</div>
</div>

{% endblock %}
{% endautoescape %}